#logo {
    margin: 40px 100px auto;
    padding: 10px 20px;
    float: left;
}
body
{
    background-color: gainsboro;

}
#superscrpita
{
    font-family: "Monotype Corsiva";
    font-size:xx-large;
    padding: 10px;
}

#subscripta
{

}